include pyproject.toml
include COPYING
include AUTHORS
include README.md

include *.py *.rst *.toml *.txt tox.ini
exclude .stickler.yml

recursive-include comdirect-api *.py 
recursive-include bin *.md *.py *.bat

