include pyproject.toml
include COPYING
include AUTHORS
include README.md
include requirements.txt

recursive-include comdirect_api *.py 
recursive-include bin *.py
recursive-include doc *.pdf

exclude .stickler.yml
exclude tox.ini
exclude bin/creds.py
